<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248018785374-q1du1il7ek9epgm1ddt5cbic7gqt28ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248018785374-q1du1il7ek9epgm1ddt5cbic7gqt28ei</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lZwlN01IyTiCe9eMyBnHnJoCHc-i1BE</string>
	<key>GCM_SENDER_ID</key>
	<string>248018785374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thealllatestnews.canadanews</string>
	<key>PROJECT_ID</key>
	<string>canada-7a242</string>
	<key>STORAGE_BUCKET</key>
	<string>canada-7a242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:248018785374:ios:7b6c6efb7db4f044</string>
	<key>DATABASE_URL</key>
	<string>https://canada-7a242.firebaseio.com</string>
</dict>
</plist>