<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009433761412-l1lvko3on8j17kh2v2v14eaacc7lbrei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009433761412-l1lvko3on8j17kh2v2v14eaacc7lbrei</string>
	<key>API_KEY</key>
	<string>AIzaSyA32njkvPoXnC63WWSh592dh6OnzXVP5LU</string>
	<key>GCM_SENDER_ID</key>
	<string>1009433761412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thealllatestnews.sweden.news</string>
	<key>PROJECT_ID</key>
	<string>sweden-44d78</string>
	<key>STORAGE_BUCKET</key>
	<string>sweden-44d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009433761412:ios:ecf6787eb031b18a</string>
	<key>DATABASE_URL</key>
	<string>https://sweden-44d78.firebaseio.com</string>
</dict>
</plist>