<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>989651598782-vsk6ucvicg09ccsice4m5ucpsrpsa5pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989651598782-vsk6ucvicg09ccsice4m5ucpsrpsa5pe</string>
	<key>API_KEY</key>
	<string>AIzaSyD9wvknwZPG2JUzzkRv2QZ6vUQ12zPtC-0</string>
	<key>GCM_SENDER_ID</key>
	<string>989651598782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thealllatestnews.spainnews</string>
	<key>PROJECT_ID</key>
	<string>spain-5be79</string>
	<key>STORAGE_BUCKET</key>
	<string>spain-5be79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:989651598782:ios:1cba4dc1158a82b0</string>
	<key>DATABASE_URL</key>
	<string>https://spain-5be79.firebaseio.com</string>
</dict>
</plist>