<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203416851005-g8igrb4n1fdbb0easifrnkli3ogovfmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203416851005-g8igrb4n1fdbb0easifrnkli3ogovfmu</string>
	<key>API_KEY</key>
	<string>AIzaSyDDrZyX8vH7ju2_k3zCRtDXHQ1_Vdg9HHA</string>
	<key>GCM_SENDER_ID</key>
	<string>203416851005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thealllatestnews.bulgarianews</string>
	<key>PROJECT_ID</key>
	<string>bulgaria-d97d1</string>
	<key>STORAGE_BUCKET</key>
	<string>bulgaria-d97d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203416851005:ios:37bce133e39bf9fb</string>
	<key>DATABASE_URL</key>
	<string>https://bulgaria-d97d1.firebaseio.com</string>
</dict>
</plist>