<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1070448534968-8n0a71npoap7s3o1g470vqajm7fgundp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070448534968-8n0a71npoap7s3o1g470vqajm7fgundp</string>
	<key>API_KEY</key>
	<string>AIzaSyByihQPAu4d3oPtm-Jbax2HWpg8riwxLak</string>
	<key>GCM_SENDER_ID</key>
	<string>1070448534968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thealllatestnews.norwaynews</string>
	<key>PROJECT_ID</key>
	<string>norway-79c54</string>
	<key>STORAGE_BUCKET</key>
	<string>norway-79c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070448534968:ios:a786e69d583a151d</string>
	<key>DATABASE_URL</key>
	<string>https://norway-79c54.firebaseio.com</string>
</dict>
</plist>